.numberCircle {
    font: 32px Arial, sans-serif;
    margin-left: 0.3em;
    width: 1.7em;
    height: 1.7em;
    box-sizing: initial;

    background: #ffffff;
    border: 0.05em solid #036a0a;
    color: #036a0a;
    text-align: center;
    border-radius: 50%;

    line-height: 1.7em;
}

.movieDate, .moveRuntime {
    color: #F65261;
}


